{% extends 'base.html' %}
{% block content %}
{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Registration</div>
    <div class="content">
      <!-- Registration form -->
      <form method="POST">
        {% csrf_token %}
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text"  name="f_name" placeholder="Enter your name" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" placeholder="Enter your username" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" placeholder="Enter your email" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="number" placeholder="Enter your number" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Password</span>
            <input type=password name="password" placeholder="Enter your password" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type=password  name="confirm_password" placeholder="Confirm your password" required>
          </div>
        <!-- Radio buttons -->
          <input type="radio" name="gender" id="dot-1" value="male">
          <input type="radio" name="gender" id="dot-2" value="female">
          <input type="radio" name="gender" id="dot-3" value="no">

          <span class="gender-title">Gender</span>
          <div class="category">
          <label for="dot-1">
          <span class="dot one"></span>
          <span class="gender">Male</span>
          </label>
         <label for="dot-2">
         <span class="dot two"></span>
         <span class="gender">Female</span>
         </label>
         <label for="dot-3">
         <span class="dot three"></span>
         <span class="gender">Prefer not to say</span>
         </label>
  </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}